---
import "../styles/global.css";   // ← activates Tailwind
const url = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tom Reeves Photo | {Astro.props.title ?? "Home"}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5FWPC6PVGP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5FWPC6PVGP');
    </script>
  </head>
  <body class="min-h-screen flex flex-col text-gray-100 bg-[#161616] antialiased">
    <header class="px-6 py-4 flex flex-col md:flex-row justify-between items-center sticky top-0 z-50 bg-[#161616] shadow-md border-b border-gray-800">
      <a href="/" class="text-xl font-bold uppercase tracking-wider text-center md:text-left mb-4 md:mb-0">Tom Reeves <span class="text-blue-500/50">Photography</span></a>
      <nav class="flex flex-wrap justify-center md:justify-end gap-x-5 gap-y-2 text-sm uppercase tracking-wide text-gray-400">
        <a href="/images"
          class={url.startsWith("/images") ? "text-blue-500/50" : "hover:text-blue-500/50"}>
          Images
        </a>
        <a href="/essays"
          class={url.startsWith("/essays") ? "text-blue-500/50" : "hover:text-blue-500/50"}>
          Essays
        </a>
        <a href="/about"
          class={url === "/about" ? "text-blue-500/50" : "hover:text-blue-500/50"}>
          About
        </a>
        <a href="/contact"
          class={url === "/contact" ? "text-blue-500/50" : "hover:text-blue-500/50"}>
          Contact
        </a>
        <a href="/shop"
          class={url === "/shop" ? "text-blue-500/50" : "hover:text-blue-500/50"}>
          Shop
        </a>
      </nav>    
    </header>

    <main class="flex-1">
      <slot />            {/*  page content will render here  */}
    </main>

    <footer class="text-center py-6 text-xs border-t border-gray-800">
      © {new Date().getFullYear()} Tom Reeves — All rights reserved.
    </footer>
  </body>
</html>